# Flutter
**/.dart_tool/
**/build/
**/.idea/
**/*.iml

# Python
**/__pycache__/
**/.venv/
**/.pytest_cache/

# Env
**/.env

# Local deploy artifacts and keys
id_ed25519_prod
id_ed25519_prod.pub
frontend/tour2tour_app/build-web.tar.gz
