DATABASE_URL=postgresql+psycopg://trips:trips@trips-db:5432/trips
RECOMMENDATIONS_SERVICE_URL=http://recommendations-service:8000
YANDEX_API_KEY=AQVNztVWsAVyLUzTNpF-7yADtuKdukKSoWQquRIC
YANDEX_FOLDER_ID=b1gnf8pe61vr7q9dgvf3
